<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Служба рекрутинга ордена Ситхов</title>
</head>
<body>
<h2>Добро пожаловать в Службу рекрутинга ордена Ситхов!</h2>
<div>
    <button>
        <a href="{% url 'sith' %}">
            Вход для Ситхов
        </a>
    </button>
    <button>
        <a href="{% url 'recruit' %}">
            Вход для Рекрутов
        </a>
    </button>
</div>
</body>
</html>