<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recruit</title>
</head>
<body>
<form method="post" action="" >
    {% csrf_token %}
    {{ form.as_p }}
        <input type="submit">
</form>
</body>
</html>