<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sith</title>
</head>
<body>
<form method="get">
    <select name="planet" id="planet_select">
        <option value="0" {% if not planet_id or 0 == planet_id %} selected="selected"{% endif %}>Все планеты</option>
        {% for planet in planets %}
            <option value="{{ planet.id }}"
                    {% if planet.id == planet_id %} selected="selected"{% endif %}
            >{{ planet.name }}</option>
        {% endfor %}
    </select>
    <input type="submit" value="Выбрать">
</form>
<table>
    <thead>
    <tr>
        <td>Имя</td>
        <td>Возраст</td>
        <td>Email</td>
        <td>Планета</td>
        <td>Ответы</td>
    </tr>
    </thead>
    <tbody>
    {% for recruit in recruits %}
        <tr>
            <td>{{ recruit.name }}</td>
            <td>{{ recruit.age }}</td>
            <td>{{ recruit.email }}</td>
            <td>{{ recruit.planet }}</td>
            <td><a href="{% url 'results' recruit.id %}">Посмотреть ответы</a></td>
        </tr>
        {% empty %}
        <tr>Рекрутов не найдено</tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>
