<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ответы</title>
</head>
<body>
<h2>Ответы рекрута #{{ recruit.id }}</h2>
<p>Имя: {{ recruit.name }}</p>
<p>Возраст: {{ recruit.age }}</p>
<p>Планета: {{ recruit.planet.name }}</p>
<form method="post">
    {% csrf_token %}
    <table>
        <thead>
        <tr>
            <td>#</td>
            <td>Вопрос</td>
            <td>Ответ</td>
        </tr>
        </thead>
        <tbody>
        {% for answer in answers %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ answer.question }}</td>
                <td>{{ answer.answer }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <input {% if count_of_recruits > 2 %} disabled {% endif %} type="submit" value="Зачислить рекрута Рукой Тени">
    {% if count_of_recruits > 2 %}<p>У вас максимальное число рекрутов</p>{% endif %}
</form>
</body>
</html>
