<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ситхи</title>
</head>
<body>
<h2>Выберите себя из списка:</h2>
<table>
    <thead>
    <tr>
        <td>#</td>
        <td>Имя</td>
        <td>Планета</td>
        <td>Число Рук Тени</td>
    </tr>
    </thead>
    <tbody>
    {% for sith in siths %}
        <tr style="text-align: center">
            <td>{{ forloop.counter }}</td>
            <td>{{ sith.name }}</td>
            <td>{{ sith.planet }}</td>
            <td>{{ sith.recruit_set.count }}</td>
            <td>
                <form method="post">{% csrf_token %}
                    <input type="submit" value="Выбрать">
                    <input type="hidden" name="sith_id" value="{{ sith.id }}">
                </form>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<form method="get">
    <input type="hidden" name="shadow_hand_gt_1" value="">
    <input type="submit" value="Отобразить Ситхов с числом Рук Теней больше 1">
</form>
</body>
</html>