<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
</head>
<body>
<h3>Ответье на следующие вопросы:</h3>
<form action="" method="post">
    {% csrf_token %}
    <input type="hidden" name="test_id" value="{{ test_id }}">
    {% for i in questions %}
        <p>{{ i.text }}</p>
        <span>Верно?</span>
        <input name="{{ i.id }}" type="checkbox">
    {% endfor %}
    <div style="padding-top: 10px"><input type="submit" title="Отправить"></div>
</form>
</body>
</html>